<!DOCTYPE html>
<html>
<head>
  <title>Blinky Site</title>
</head>
<body>
  <h1>Commands</h1>
  {% for command in commands %}
  <input class="command_class" type="radio" name="command" value="{{ command }}">{{ command }}<br>
  {% endfor %}
  <script>
  var commandButtons = document.getElementsByName("command");
  for (var commandButton in commandButtons) {
    commandButton.onchange = function() {
      console.log("button clicked");
      alert(this.value);
    }
  }
  </script>
</body>
</html>
