<!DOCTYPE html>
<html>
<head>
  <title>Blinky Site</title>
</head>
<body>
  <div style="width: 50%; float: left;">
    <h1>Commands</h1>
    {% for command in commands %}
      {% if command != "DCStart" and command != "DCStop" %}
        <input class="command_class" type="radio" name="command" value="{{ command }}" onclick="handleClick(this);" {% if command == currentCommand %}checked{% endif %}>{{ command }}<br>
      {% endif %}
    {% endfor %}
  </div>

  <div style="width: 50%; float: right;">
    <h1>Dynamic Color</h1>
    <input id="dyna_off" type="radio" name="dyna" value="false" onclick="handleDyna(this);" {% if dynamicColor == "False" %}checked{% endif %}>Off<br>
    <input id="dyna_on" type="radio" name="dyna" value="true" onclick="handleDyna(this);" {% if dynamicColor == "True" %}checked{% endif %}>On<br>
  </div>

  <div style="width: 50%; float: right;">
    <h1>Speed</h1>
    <input id="speed_input" type="text" name="speed" value={{ currentSpeed }}>
    <button type="button" onclick="setSpeed()">Send</button>
  </div>

  <div style="width: 50%; float: right;">
    <h1>Color</h1>
    <p>Red: </p>
    <input id="red_input" type="text" name="color" value={{ red }}><br>
    <p>Green: </p>
    <input id="green_input" type="text" name="color" value={{ green }}><br>
    <p>Blue: </p>
    <input id="blue_input" type="text" name="color" value={{ blue }}><br>
    <button type="button" onclick="setColor()">Send</button>
  </div>

  <script>
  function handleClick(radioButton) {
    console.log("Selected: " + radioButton.value);
    httpGetAsync("/command/"+radioButton.value,function(response) {
      console.log("Response: "+response);
    });
  }

  function handleDyna(radioButton) {
    console.log("Dyna Color: " + radioButton.value);
    var command = "DCStart";
    if (radioButton.value == "false") {
      command = "DCStop";
    }
    httpGetAsync("/command/"+command,function(response) {
      console.log("Response: "+response);
    });
  }

  function setSpeed() {
    var speed = document.getElementById("speed_input").value;
    console.log("Speed: "+speed);
    httpGetAsync("/speed/"+speed,function(response) {
      console.log("Response: "+response);
    });
  }

  function setColor() {
    var red = document.getElementById("red_input");
    var green = document.getElementById("green_input");
    var blue = document.getElementById("blue_input");
    var hexString = rgbToHex(parseInt(red),parseInt(green),parseInt(blue));
    console.log("Color: "+hexString);
    httpGetAsync("/color/"+hexString,function(response) {
      console.log("Response: "+response);
    });
  }

  //From: http://stackoverflow.com/questions/247483/http-get-request-in-javascript
  function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            callback(xmlHttp.responseText);
          }
      }
      xmlHttp.open("GET", theUrl, true); // true for asynchronous
      xmlHttp.send(null);
    }

    function componentToHex(c) {
      var hex = c.toString(16);
      console.log("c: "+str(c)+", hex: "+str(hex));
      return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }
  </script>
</body>
</html>
