<!DOCTYPE html>
<html>
<head>
  <title>Blinky Site</title>
</head>
<body>
  <h1>Commands</h1>
  {% for command in commands %}
  <input class="command_class" type="radio" name="command" value="{{ command }}" onclick="handleClick(this);" {% if command == currentCommand %}checked{% endif %}>{{ command }}<br>
  {% endfor %}

  <h1>Speed</h1>
  <input id="speed_input" type="text" name="speed" value={{ currentSpeed }}>
  <button type="button" onclick="setSpeed()">Send</button>


  <script>
  function handleClick(radioButton) {
    console.log("Selected: " + radioButton.value);
    httpGetAsync("/command/"+radioButton.value,function(response) {
      console.log("Response: "+response);
    });
  }

  function setSpeed() {
    var speed = document.getElementById("speed_input").value;
    console.log("Speed: "+speed);
    httpGetAsync("/speed/"+speed,function() {
      console.log("Response: "+response);
    });
  }

//From: http://stackoverflow.com/questions/247483/http-get-request-in-javascript
  function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            callback(xmlHttp.responseText);
          }
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
}
  </script>
</body>
</html>
